@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .hide-scroll {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
